@model DeedSimple.ViewModel.User.ViewSellerUserModel
<h2>
    Your listed properties
</h2>
@if (Model.Properties.Count == 0)
{
    <p>You currently have no properties listed with us.</p>
}
<p>
    @Html.ActionLink("Add New Property", "Add")
</p>

@foreach (var item in Model.Properties)
{
    <div class="row">
        <div class="col-md-4">
            <a href='@Url.Action("Edit", "Seller", new { propertyId = item.Id })'>
                <img src='@Url.Action("Index", "Image", new {id = item.Images != null && item.Images.Count > 0 ? item.Images[0].Id : 0})' height="150" />
            </a>
        </div>
        <div class="col-md-8">
            <h4>@Html.DisplayFor(modelItem => item.TagLine)</h4>
            <h6>@Html.DisplayFor(modelItem => item.Road)</h6>
        </div>
    </div>
    <hr />
}