@using DeedSimple.ViewModel.Enum
@model IEnumerable<DeedSimple.ViewModel.Offer.ViewOfferModel>

@{
    ViewBag.Title = "View Offers";
}

<h2>
    Offers made for your properties
</h2>

@foreach (var item in Model)
{
    <div class="row">
        <div class="col-md-4">
            <a href='@Url.Action("Edit", "Seller", new { propertyId = item.PropertyId })'>
                <img src='@Url.Action("Index", "Image", new {id = item.MainImage.Id})' height="150"/>
            </a>
        </div>
        <div class="col-md-8">
            <h4>@Html.DisplayFor(modelItem => item.TagLine)</h4>
            <h6>@Html.DisplayFor(modelItem => item.OfferPrice)</h6>
            @if (item.State == OfferState.Accepted)
            {
                <b>Accepted</b>
            }
            else if (item.State == OfferState.Rejected)
            {
                <b>Rejected</b>
            }
            else
            {
                <p>
                    @Html.ActionLink("Accept Offer", "Accept", new { offerId = item.OfferId }) |
                    @Html.ActionLink("Reject Offer", "Reject", new { offerId = item.OfferId })
                </p>
            }
            
        </div>
    </div>
    <hr/>
}
