@model IEnumerable<DeedSimple.Models.ViewBuyerOfferModel>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.OfferId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PropertyId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OfferPrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TagLine)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.OfferId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PropertyId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OfferPrice)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TagLine)
        </td>
        <td>
            @Html.ActionLink("Cancel Offer", "Cancel", new { offerId = item.OfferId })
        </td>
    </tr>
}

</table>
